button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

.workspaces .workspace-indicator {
  min-height: 2px;
}

.workspaces .workspace-unfocused .workspace-indicator {
  background-color: transparent;
}

.workspaces .workspace-focused .workspace-indicator {
  background-color: @theme_selected_bg_color;
}

.workspaces .workspace-focused button {
  color: @theme_selected_bg_color;
}

.workspaces .workspace-unfocused button {
  color: @theme_fg_color;
}

.workspaces button:hover {
  color: @theme_selected_fg_color;
}

label {
  font-weight: bold;
}

.workspaces,
.volume,
.microphone,
.battery,
.media,
.clock,
.systemtray,
.network,
.memory,
.cpu,
.notification {
  padding-left: 8px;
  padding-right: 8px;
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  border-radius: 6px;
  font-size: 12px;
  font-family:
    IBM Plex Mono,
    monospace;
}

.client-title {
  color: @theme_selected_bg_color;
}

.notification {
  color: yellow;
}

levelbar block,
highlight {
  min-height: 10px;
}

@keyframes blink {
  0% {
    color: @theme_fg_color;
  }
  35% {
    /* color: #0094ff; */ /* blue */
    color: #fd6806;
  }
  65% {
    color: #fd6806;
  }
  100% {
    color: @theme_fg_color;
  }
}

.microphone-recording {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  /* animation-timing-function: cubic-bezier(1, -0.01, 0, 1.07); */
  animation-iteration-count: infinite;
}

box {
  opacity: 0.9;
}
